
 * {
    margin:0;
    padding:0;  
  }
  
  /* Element Selectors */
  body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: #FDF8F5;
    color: #4F4846;
  }
  
  main {
    padding: 60px 0;
  }
 header,
footer {
  height: 20px;
  width: 100%;
  line-height: 60px;
  display: inline;
  background-color: #1a1b1b;
}
h1{
    width:300px;
    text-align: center;
    /* padding-inline: 10px; */
    background-color: rgb(102, 146, 146);
    padding: 0%;
}
h2{
    Display: block;
    text-align: left;
    padding: 0%;
    margin-right: 250%;
    /* border-right: #1a1b1b; */
    text-decoration: none; 

}
h2:hover { text-decoration: underline; }
img{
    padding: 0%;
    display:flex;
}
header nav{
    background-color: #2b2c2d;
}
 header li {
    display: inline;
     padding: 0px 20px; 
    text-decoration: none;
     
  }
  #ContactMe li{
    display: inline;
    text-align: center;
    justify-content: space-between;
    padding: 0px 50px; 
    text-decoration:underline;
    background-color: rgb(217, 236, 236);

  }
  
  a {
    /* text-decoration: none; */
    color: rgb(102, 146, 146);
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    width:200px;
    background-color: rgb(102, 146, 146);
  }
  
.text-right{
    text-align:right;
    
  }
  /* Every Box */
  #aboutme{
    align-content: center;
    padding: 5px; 
    border-style:outset; 
    height: 250px;
    width:1200px;
    justify-content: space-between;
    border-width: 2px;
    border-color: rgb(102, 146, 146);
    margin-top: -90px;
    margin-left: 120px;
    margin-bottom:70px;
    flex: 0 0 10px;
    border-left: 6px solid green;
    background-image: linear-gradient( rgb(232, 224, 232), skyblue);
    /* background-color: aqua; */
  }
  #aboutme:hover{box-shadow: 5px 6px 3px #13293d;}
  #Work{
    align-content: center;
    padding: 5px; 
    border-style: double;
    height: 250px;
    width:1200px;
    justify-content: space-between;
    border-width: 2px;
    margin-top: -90px;
    margin-left: 120px;
    margin-bottom:40px;
    flex: 0 0 10px;
    border-color: rgb(102, 146, 146);
    border-left: 6px solid green;
    background-image: linear-gradient( rgb(232, 224, 232), skyblue);
  }
  #Work:hover{box-shadow: 5px 6px 3px #13293d;}
  #ContactMe{
    align-content: center;
    padding: 5px; 
    border-style: double;
    height: 90px;
    width:1200px;
    justify-content: space-between;
    border-width: 2px;
    margin-top: -90px;
    margin-left: 120px;
    margin-bottom:30px;
    border-color: rgb(102, 146, 146);
    flex: 0 0 10px;
    border-left: 6px solid green;
    background-image: linear-gradient( rgb(232, 224, 232), skyblue);
  }
  #ContactMe:hover{box-shadow: 5px 6px 3px #13293d;}