
 * {
    margin:0;
    padding:0;  
  }
  :root {
    /* COLORS */
    --bg-color: #0b0221;
    --text-color:  rgb(102, 146, 146);;
    --alt-color: #4F4846;
    --accent-color: #110c23;
    --gradient: linear-gradient( rgb(140, 198, 248), rgb(48, 180, 195));
    --card-bg:rgb(155, 221, 231);
    --border-left: 6px solid rgb(11, 43, 117);
    --box-shadow: 5px 6px 3px #13293d;
    --box-shadow2: 0px 0px 20px rgb(3, 69, 49);
    
    }
  
  /* Element Selectors */
  body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: var(--accent-color);
    color: var( --alt-color)
    /* display:inline-flex; */
  }
  
  main {
    padding: 60px 0;
  }
 header {
  height: 10px;
  width: 100%;
  line-height: 60px;
  display: inline;
  background-color: var( --bg-color);
}
footer {
    /* Layout */
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    /* Deco */
    background-color: var(--bg-color);
    font-family: "lucida console";
    color: var(--text-color);
    /* Flex Settings */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    width:300px;
    text-align: center;
    background-color:var( --text-color);
    padding: 0%;
    animation-name: nameload;
    animation-duration: 2s;
    animation-direction:unset;
    animation-timing-function:ease-out;
}

h2{ flex-direction: row;
    Display: block;
    text-align: left;
    padding: 0%;
    margin-right: 250%;
    /* border-right: #1a1b1b; */
    text-decoration: none; 

}
h2:hover { text-decoration: underline; }
img{
    padding: 0%;
    display:flex;
}
header nav{
    background-color:var(--bg-color);
}
 header li {
    display: inline;
     padding: 0px 20px; 
    text-decoration: none;
     
  }
  #ContactMe li{
    display: inline;
    text-align: center;
    justify-content: space-between;
    padding: 0px 50px; 
    text-decoration:underline;
    background-color: var(--accent-color);

  }
  
  a {
    /* text-decoration: none; */
    color: var(--text-color);
  }
  .container {
    position: relative;
    text-align: center;
    color:var(--accent-color);
  }
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    width:200px;
    background-color: var(--text-color);
    animation-name: nameload;
    animation-duration: 2s;
    animation-direction:unset;
    animation-timing-function:ease-out;
  }

  
.text-right{
    text-align:right;
    
  }
  /* Every Box */
  /* ************************************************************************** */
  /* -------------About Me Section--------------------------------------------- */
  #aboutme{
    align-content: center;
    padding: 5px; 
    border-style:outset; 
    height: 250px;
    width:90%;
    justify-content: space-between;
    border-width: 2px;
    border-color: var(--text-color);
    margin-top: -90px;
    margin-left: 120px;
    margin-bottom:70px;
    flex: 0 0 10px;
    border-left: var(--border-left);
    background-image: var(--gradient);
    box-shadow: var(--box-shadow);
     /* Transitions for hover movement effects */
     transition-timing-function: ease-out;
     transition-timing-function: ease-in;
     transition-property: transform;
     transition-duration: .2s;
 
     /* Transitions for hover box shadow effects */
     transition-property: box-shadow, transform;
     transition-duration: .2s;
     transition-timing-function: ease-out;
     transition-timing-function: ease-in;
    /* background-color: aqua; */
  }
  #aboutme:hover{
    transform: translateY(-3%);
    box-shadow: var(--box-shadow2);
   }

   /* ************************************************************** */
   /* ------------------Work Section Design------------------------- */
  #Work{
    display:flex;
    align-content: center;
    padding: 5px; 
    position: relative;
    height: 600px;
    width:90%;
    justify-content: space-between;
    margin-top: -90px;
    margin-left: 120px;
    margin-bottom:40px;
    border-color: var(--text-color);
    border-left: var(--border-left);
    background-image: var(--gradient);
    box-shadow: var(--box-shadow);
  }
  #Work:hover{transform: translateY(-3%);
    box-shadow: var(--box-shadow2);}
  #Work #first {
    display:flex;
    width: 98%;
    height: 40%;
    position: absolute; margin-top: -5px;
    background: var(--card-bg);
     top :0; left: 10px; right: 10px; bottom: 0; 
     box-shadow: var(--box-shadow);
       /* Transitions for hover movement effects */
       transition-timing-function: ease-out;
       transition-timing-function: ease-in;
       transition-property: transform;
       transition-duration: .2s;
       /* Transitions for hover box shadow effects */
       transition-property: box-shadow, transform;
       transition-duration: .2s;
       transition-timing-function: ease-out;
       transition-timing-function: ease-in;
   }
   #first:hover{
    transform: translateY(-3%);
    box-shadow: var(--box-shadow2);}
 #second{
    display:flex;
    width: 46%;
    height: 150px;
    position: absolute;
     margin-top: 270px;
    margin-left:40px;
    background:var(--card-bg);
    top :0; left: 0; right: 30px; bottom: 0;
    box-shadow: var(--box-shadow);
      /* Transitions for hover movement effects */
      transition-timing-function: ease-out;
      transition-timing-function: ease-in;
      transition-property: transform;
      transition-duration: .2s;
  
      /* Transitions for hover box shadow effects */
      transition-property: box-shadow, transform;
      transition-duration: .2s;
      transition-timing-function: ease-out;
      transition-timing-function: ease-in;

   }
   #second:hover{ transform: translateY(-3%);
    box-shadow:var(--box-shadow2);}
 #third{
    display:flex;
    width: 46%;
    height: 150px;
    position: absolute;
     margin-top: 270px;
     margin-left:94px;
    background: var(--card-bg);
    top :0; left: 580px; right: 0; bottom: 0;
    box-shadow: var(--box-shadow);
      /* Transitions for hover movement effects */
      transition-timing-function: ease-out;
      transition-timing-function: ease-in;
      transition-property: transform;
      transition-duration: .2s;
  
      /* Transitions for hover box shadow effects */
      transition-property: box-shadow, transform;
      transition-duration: .2s;
      transition-timing-function: ease-out;
      transition-timing-function: ease-in;

   }
   #third:hover{ transform: translateY(-3%);
    box-shadow: var(--box-shadow2);}
 #fourth{
    display:flex;
    width: 46%;
    height: 150px;
    position: absolute;
     /* margin-top: 270px; */
    margin-left:40px;
    background:var(--card-bg);
    top :450px; left: 0; right: 30px; bottom: 0;
    box-shadow: var(--box-shadow);
      /* Transitions for hover movement effects */
      transition-timing-function: ease-out;
      transition-timing-function: ease-in;
      transition-property: transform;
      transition-duration: .2s;
  
      /* Transitions for hover box shadow effects */
      transition-property: box-shadow, transform;
      transition-duration: .2s;
      transition-timing-function: ease-out;
      transition-timing-function: ease-in;

   }
   #fourth:hover{ transform: translateY(-3%);
    box-shadow: var(--box-shadow2);}
   #fifth{
    display:flex;
    width: 46%;
    height: 150px;
    position: absolute;
     /* margin-top: 270px; */
     margin-left:94px; 

    background: var(--card-bg);
    top :450px; left: 580px; right: 0; bottom: 0;
    box-shadow: var(--box-shadow);
      /* Transitions for hover movement effects */
      transition-timing-function: ease-out;
      transition-timing-function: ease-in;
      transition-property: transform;
      transition-duration: .2s;
  
      /* Transitions for hover box shadow effects */
      transition-property: box-shadow, transform;
      transition-duration: .2s;
      transition-timing-function: ease-out;
      transition-timing-function: ease-in;

   }
   #fifth:hover{ transform: translateY(-3%);
    box-shadow: var(--box-shadow2);}

    /* *************************************************************** */
    /* ------------------Contact me Section-------------------------- */
  #ContactMe{
    align-content: center;
    padding: 5px; 
    border-style: double;
    height: 90px;
    width:90%;
    justify-content: space-between;
    border-width: 2px;
    margin-top: -90px;
    margin-left: 120px;
    margin-bottom:30px;
    border-color: var(--text-color);
    flex: 0 0 10px;
    border-left: var(--border-left);
    background-image: var(--gradient);
  }
  #ContactMe:hover{box-shadow: var(--box-shadow);}

/* ************************************************************** */

  /* Animation Key frames */
  @keyframes nameload {
    0% {
        transform: translateY(-110%);
        opacity: 0%;
      }

    35% {
        opacity: 0%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
      }
}

/* ************************************************************** */
  /* Media Screen Designing */

  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
        max-width: 700px;
      /* background-color: #2b2c2d; */
      flex-direction: column;
    }
    h2{ 
        flex-direction: column;
        position:relative;
        Display:inline-block;
        text-align:center;
        padding-bottom: 60px; 
        max-width:400px ;
          margin-left:230px;  
          white-space: normal;
         /* margin-bottom:-90px; */
         margin-right: 0%;
        /* border-right: #1a1b1b; */
        text-decoration: underline; 
    
    }

    #aboutme{
        flex-direction: column;
        /* max-width: 50%; */
         margin-top: -50px; 
         margin-left: 0px;
        white-space: normal;

    }
    #Work{
        flex-direction: column;
         height:860px; 
         margin-top: -50px; 
         margin-left: 10px; 
        white-space: normal;
    }
    #first{
        flex-direction: column; 
        /* margin-top: 20px; */
    }
    #second{
         flex-direction:column;
         position: relative;
         /* bottom:150px; */
         top:100px; margin-left:0px;
        
    }
    #third{flex-direction:row-reverse;
      position:relative;
    background-color: rgb(189, 189, 43); 
     margin-top:-70px;margin-left:-300px;  }
    #fourth{flex-direction: column;
        position: relative;
       /* bottom:150px; */
       top:10px;
       margin-left:0px;
       background-color: orangered;}
    #fifth{flex-direction: column;
    background-color:coral;
    /* left:0px; */
     position: relative;
      top:-160px;
      margin-left:-300px;}
    #ContactMe{flex-direction: column;
        /* flex-direction: column; */
        max-width: 600px;
        margin-top: 0px;
        margin-left: 10px;
        white-space: normal;
}
  }
 