:root{
    /* colors */
    --primary-light: #a5d0cd;
    --primary-dark: #6ac3bd;
    --background: #eaf3f2;
    --fontcolor: #2d6c68;
    /* height for small Work img */
    --work-height : 140px;
    /* values for main structure  :for <header> & <main>  */
    --main-structure-w : 80wh;
    --max-width : 992px;

    --dashed_width: 2px;
    --text-color: rgb(102, 146, 146);

    --bg-color: #110c23;
    --text-color:  rgb(102, 146, 146);
    --alt-color: #6c3c2f;
    --accent-color:#150441;
    --gradient: linear-gradient( rgb(140, 198, 248), rgb(48, 180, 195));
    --card-bg:rgb(155, 221, 231);
    --border-left: 6px solid rgb(11, 43, 117);
    --box-shadow: 5px 6px 3px #13293d;
    --box-shadow2: 0px 0px 20px rgb(19, 203, 59);
    /* Font Design */
    --clean-font: 'Inter Tight', sans-serif;
    --para: 1.3 rem;
}

body{ background-color: var(--accent-color);
    color: var( --alt-color)}

header {
    height: 10px;
    width: 100%;
    line-height: 60px;
    display: inline;
    background-color: var( --bg-color);
  }
  footer {
    /* Layout */
    height: 10vh;
    width: 100%;
    margin: 0 auto;
    /* Deco */
    background-color: var(--bg-color);
    font-family: "lucida console";
    color: var(--text-color);
    /* Flex Settings */
    display: flex;
    justify-content: space-around;
    align-items: center;
}



header nav {
    display:flex;
    justify-content:flex-end;
    background-color:var(--bg-color);
}

header li {
    display: inline;
     padding: 0px 20px; 
    text-decoration: none;
     
  }
  header a {
    /* text-decoration: none; */
    color: var(--text-color);
  }
header nav a{
    font-size:1.2em;
    padding:0 10px;
    color:var(--fontcolor);
    font-weight:bold;
}
h1{
    width:300px;
    text-align: center;
    background-color:var( --text-color);
    padding: 0%;
    animation-name: nameload;
    animation-duration: 2s;
    animation-direction:unset;
    animation-timing-function:ease-out;
}
h2{ flex-direction: row;
    Display: block;
    text-align: left;
    padding: 0%;
    margin-right: 250%;
    margin-left: 10px;
    animation-name: nameload;
    animation-duration: 2s;
    animation-direction:unset;
    animation-timing-function:ease-out;

}
h2:hover { text-decoration: underline; }
img{
    padding: 0%;
    display:flex;
}
h3{ width:100%;
 
    /* flex-direction: column; */
    position:relative;
    /* Display:inline-block; */
    text-align:center;
    margin-top:10px;
    font-family: 'Roboto Slab', serif;
    /* color: var(--accent-color); */
}
#contentImg img{
    position: relative;
    display:flex;
    float:left;
    margin-left:0px;
    border:none;
   
    /* border-radius: 50%; */
}
p{  margin-top: 40px;
    margin-left: 20px;
    text-align: left; 
    word-wrap: break-word;
    /* font-family: var(--clean-font); */
    font-size: 4rem;
    text-decoration: none;
    
    /* color: var(--bg-color); */
    font-size: var(--para);
}
.container {
    position: relative;
    text-align: center;
     color:var(--accent-color); 
  }
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    width:200px;
    font-size: 1rem;
    color: var(--alt-color);
    background-color: var(--text-color);
    animation-name: nameload;
    animation-duration: 2s;
    animation-direction:unset;
    animation-timing-function:ease-out;
  }
  .text-right{
    text-align:right;
    
  }


  #aboutme{
    /* align-content: center; */
    padding: 5px; 
    border-style:outset; 
    height: 250px;
    width:90%;
    word-wrap: break-word;
    justify-content: space-between;
    border-width: 2px;
    border-color: var(--text-color);
    margin-top: -8px;
    margin-left: 50px;
    margin-bottom:70px;
    text-align: center;
    /* flex: 0 0 10px; */
    border-left: var(--border-left);
    background-image: var(--gradient);
    box-shadow: var(--box-shadow);
     /* Transitions for hover movement effects */
     transition-timing-function: ease-out;
     transition-timing-function: ease-in;
     transition-property: transform;
     transition-duration: .2s;
 
     /* Transitions for hover box shadow effects */
     transition-property: box-shadow, transform;
     transition-duration: .2s;
     transition-timing-function: ease-out;
     transition-timing-function: ease-in;
    /* background-color: aqua; */
  }
  #aboutme:hover{
    transform: translateY(-3%);
    box-shadow: var(--box-shadow2);
   }



main{
    width:var(--main-structure-w);
    max-width:var(--max-width);
    margin:0 auto;
    background-color: #fff;
    padding:30px 0 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

main section{
    display:flex;
    margin-bottom:30px;
    justify-content: center;
}

/* Headers in ain */
main h3{
    width:20%;
    text-align:right;
    font-weight:bold;
    font-size:1.8em;

    color:var(--fontcolor);
    padding:5px 10px 5px 30px;
    border:var(--dashed_width) dashed var(--primary-light);
    border-right:none;
    border-radius:20px 0 0 20px;
    
    /* To have tight borders aound each section's header */
    align-self: flex-start;  
}

main .rightbox{
    width:75%;
    border-left:2px solid var(--primary-light);
    padding:10px 20px;

}

#AboutMe p{line-height: 160%;}

#Work ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#Work li {
    width:49%;
    margin-bottom:12px;
    position:relative;
    border:2px solid var(--primary-dark);
    border-radius: 10px;
}

#Work h5{
    position:absolute;
    bottom:10px;
    left:-6px;
    color:var(--fontcolor);
    padding:8px 12px;
    margin-bottom:5px;
    border-radius: 0 10px 10px 0;

    background-image:none;
    background-position: 96% 7px;
    background-repeat: no-repeat;
    background-size: 32px;
    background-color:var(--primary-light);

    /* noticed absolute positioned header disapear(goes behind the image) when the filter property applied to image */
    z-index: 2;
}
#Work small{display:block;margin-top:4px;font-size:0.93m;font-weight:normal;}

#Work li img{
    width:100%;
    height:var(--work-height);
    object-fit: cover;
    display:block;
    filter: brightness(0.8) contrast(0.7); 
    border-radius: 8px;
}
#Work li:hover{
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
    transition: transform 0.5s;
}
#Work li:hover img{
    filter:none;
    transition: filter 0.5s;
}
#Work li:hover h5{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding-right:50px;
    color:black;
    background-image: url(../images/white-arrow.png);
    transition: padding-right 0.5s, background-image 1s;
    
}

/* first Work image larger for L/M screen */
#Work li.first{
    width:100%;
}
#Work li.first img{
    height:400px;
}



#ContactMe ul{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding:15px 0;
}

#ContactMe li,#ContactMe li a {
    color:var(--fontcolor);
    font-weight:bold;
    font-size:1.06em;

}


 /* Animation Key frames */
 @keyframes nameload {
    0% {
        transform: translateY(-110%);
        opacity: 0%;
      }

    35% {
        opacity: 0%;
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
      }
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    /* uses default style */
}
  
/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
    /* nav links go down from top header */
    header .hd_top{
        display:block;
    }
    header h1{
        text-align: center;
        padding-right:30px;
        margin-bottom:10px;
        font-size:3em;
        background-image:none;
    }
    header nav{
        justify-content: center;
    }
    header img.myphoto{
        width:100px;
        height:100px;
        top:-5px;right:0px;
        animation:none;
    }
    #aboutme{
        flex-direction: column;
         margin-top: -50px; 
         margin-left: 0px;
        white-space: normal;

    }

    main {
        width:100%;
        padding:30px 20px;
    }

    /* each main header <h3> goes to the top of contents */
    main section{
        flex-direction: column;
        
    }
    main h3{  
        width:auto;
        border-bottom:none;
        border-right:var(--dashed_width) dashed var(--primary-light); 
        border-radius: 20px 20px 0 0;
        padding-right:30px;
    }

    main .rightbox{
        width:100%;
        padding-left:0;
        padding-right:0;
        /* border change in between <h3> and .rightbox */
        border-top:2px solid var(--primary-light);
        border-left:none;
    }
}
  
/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
    
    /* subtitle inside top image goes in the center */
    header img.myphoto{
        width:90px;
        height:90px;
    }
    .contentImg{
        justify-content: center;
    }
    #Work li {
        width:100%;
        /* margin-bottom:8px; */
    }
    /* the first work image size become same as the rest */
    #Work li.first img{
        height:var(--work-height);
    }
    #ContactMe ul{
        flex-direction:column;
        align-items:flex-start;
    }
    #ContactMe li{
        padding:8px 0 8px 32px;
    }

    
}